@media (min-width: 410px) {
  .item {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* margin: 20px; */
    position: relative;
  }
  .itemImage {
    width: 50%;
    margin: auto;
  }
  .itemTitle {
    margin: 10px;
    margin-bottom: 0;
  }
  .addButton,
  .removeButton {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    right: 50px;
    top: -15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .addButton {
    background-color: rgba(255, 255, 255, 0);
    background-image: url("../../assets/icon_add_basket.svg");
  }

  .removeButton {
    background-color: rgba(255, 255, 255, 0);
    background-image: url("../../assets/icon_remove.svg");
  }

  .bar {
    width: 90%;
    height: 2px;
    background-color: #56bbc61e;
    margin: 50px auto;
  }
}
